{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
    <div class="breadcrumbs">
            <div class="breadcrumbs-inner">
                <div class="row m-0">
                    <div class="col-sm-4">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <h1>Dashboard</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="page-header float-right">
                            <div class="page-title">
                                <ol class="breadcrumb text-right">
                                    <li><a href="#">Dashboard</a></li>
                                    <li><a href="#">Daftar</a></li>
                                    <li class="active">CARI NIK</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            {% if messages %}
                
                {% for message in messages %}
                        <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                            <span class="badge badge-pill badge-danger">PERINGATAN!</span>
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                {% endfor %}
            {% endif %}
            <div class="animated fadeIn">

                <div class="row">

                    <div class="col-xs-6 col-sm-8">
                        <div class="card">
                            <div class="card-header">
                                <strong>CARI NIK</strong>
                            </div>
                            <div class="card-body card-block">
                             <form method="post" enctype="multipart/form-data" class="form-horizontal">
                                {% csrf_token %}
                                <div class="form-group">
                                  <div class="row m-2">
                                   <div class="col">
                                    <label class=" form-control-label">INPUT NIK</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                        <input class="form-control" name="ktp">
                                    </div>
                                    <div class="col" align="right">
                                        
                                        <a href="{% url 'daftar:add_tk' %}" class="btn btn-primary" role="button">Tambah</a>
                                        
                                        <!--
                                        <button type="submit" class="btn btn-success">Cari</button>
                                        -->
                                    </div>
                                   </div>
                                  </div>
                                    <small class="form-text text-muted">cth. 1270111100001111</small>
                                </div>
                                
                             </form>
                            </div> <!--card body-->
                        </div>
                    </div>


          </div>

      </div>
        {% comment %} <div class="table-stats order-table ov-h">
            <table class="table ">
                <thead>
                    <tr>
                        <th class="serial">No</th>
                        <th>NIK</th>
                        <th>Nama</th>
                        <th>Tempat Lahir</th>
                        <th>Tanggal Lahir</th>
                        <th>Alamat</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in nik %}
                    <tr>
                        <td class="serial">{{ forloop.counter }}</td>
                        <td> {{row.nik}} </td>
                        <td>  <span class="name">Louis Stanley</span> </td>
                        <td> <span class="product">iMax</span> </td>
                        <td><span class="count">231</span></td>
                        <td>
                            <span class="badge badge-complete">Complete</span>
                        </td>
                    </tr>
                     {% endfor %}                                                                               
                </tbody>
            </table>
        </div>     {% endcomment %}
  </div>


</div><!-- .animated -->
</div><!-- .content -->
{% endblock content %}