{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
    <div class="breadcrumbs">
            <div class="breadcrumbs-inner">
                <div class="row m-0">
                    <div class="col-sm-4">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <h1>Dashboard</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="page-header float-right">
                            <div class="page-title">
                                <ol class="breadcrumb text-right">
                                    <li><a href="#">Dashboard</a></li>
                                    <li><a href="#">Daftar</a></li>
                                    <li class="active">Tambah TK</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="animated fadeIn">

                <div class="row">

                    <div class="col-xs-6 col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <strong>Pendaftaran TK</strong>
                            </div>
                            <div class="card-body card-block">
                             <form method="post" enctype="multipart/form-data" class="form-horizontal">
                                {% csrf_token %}
                                <div class="form-group">
                                    {% for matches in match  %}
                                    <label class=" form-control-label">Nomor Induk Kependudukan</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                        <input class="form-control" value="{{ matches.nik }}" read-only>
                                    </div>
                                    {% endfor %}
                                    <small class="form-text text-muted">cth. 1270111100001111</small>
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label">Email</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                        {{form.mail}}
                                    </div>
                                    <small class="form-text text-muted">cth. john.doe@gmail.com</small>
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label">No HP</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-mobile"></i></div>
                                        {{form.no_hp}}
                                    </div>
                                    <small class="form-text text-muted">cth. 082200220022</small>
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label">Pekerjaan 1</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-briefcase"></i></div>
                                        {{form.pekerjaan1}}
                                    </div>
                                    <small class="form-text text-muted">cth. Kuala Simpang</small>
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label">Pekerjaan 2</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-briefcase"></i></div>
                                        {{form.lokasi}}
                                    </div>
                                    <small class="form-text text-muted">ex. Langsa</small>
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label">Penghasilan</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-money"></i></div>
                                        {{form.penghasilan}}
                                    </div>
                                    <small class="form-text text-muted">cth. 1000000</small>
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label">Program</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-bars" aria-hidden="true"></i></div>
                                        {{form.program}}
                                    </div>
                                    <small class="form-text text-muted">cth. JKK & JKM</small>
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label">Bulan</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                                        {{form.bulan}}
                                    </div>
                                    <small class="form-text text-muted">cth. 1 Bulan</small>
                                </div>
                                <div class="row">
                                <div class="col-xs-8 col-sm-12" align="right">
                                <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Submit</button>
                                </div>
                                </div>
                             </form>
                            </div> <!--card body-->
                        </div>
                    </div>

                    {% comment %} <div class="col-xs-6 col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Standard Select</strong>
                            </div>
                            <div class="card-body">

                              <select data-placeholder="Choose a Country..." class="standardSelect" tabindex="1">
                                <option value="" label="default"></option>
                                <option value="United States">United States</option>
                                <option value="United Kingdom">United Kingdom</option>
                                <option value="Afghanistan">Afghanistan</option>
                                <option value="Aland Islands">Aland Islands</option>
                                <option value="Albania">Albania</option>
                                <option value="Algeria">Algeria</option>
                                <option value="American Samoa">American Samoa</option>
                                <option value="Andorra">Andorra</option>
                                <option value="Angola">Angola</option>
                                <option value="Anguilla">Anguilla</option>
                                <option value="Antarctica">Antarctica</option>
                            </select>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Multi Select</strong>
                        </div>
                        <div class="card-body">

                          <select data-placeholder="Choose a country..." multiple class="standardSelect">
                            <option value="" label="default"></option>
                            <option value="United States">United States</option>
                            <option value="United Kingdom">United Kingdom</option>
                            <option value="Afghanistan">Afghanistan</option>
                            <option value="Aland Islands">Aland Islands</option>
                            <option value="Albania">Albania</option>
                            <option value="Algeria">Algeria</option>
                            <option value="American Samoa">American Samoa</option>
                            <option value="Andorra">Andorra</option>
                            <option value="Angola">Angola</option>
                            <option value="Anguilla">Anguilla</option>
                            <option value="Antarctica">Antarctica</option>
                        </select>

                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Multi Select with Groups</strong>
                    </div>
                    <div class="card-body">

                      <select data-placeholder="Your Favorite Football Team" multiple class="standardSelect" tabindex="5">
                        <option value="" label="default"></option>
                        <optgroup label="NFC EAST">
                          <option>Dallas Cowboys</option>
                          <option>New York Giants</option>
                          <option>Philadelphia Eagles</option>
                          <option>Washington Redskins</option>
                      </optgroup>
                      <optgroup label="NFC NORTH">
                          <option>Chicago Bears</option>
                          <option>Detroit Lions</option>
                          <option>Green Bay Packers</option>
                          <option>Minnesota Vikings</option>
                      </optgroup>
                      <optgroup label="NFC SOUTH">
                          <option>Atlanta Falcons</option>
                          <option>Carolina Panthers</option>
                          <option>New Orleans Saints</option>
                          <option>Tampa Bay Buccaneers</option>
                      </optgroup>
                      <optgroup label="NFC WEST">
                          <option>Arizona Cardinals</option>
                          <option>St. Louis Rams</option>
                          <option>San Francisco 49ers</option>
                          <option>Seattle Seahawks</option>
                      </optgroup>
                      <optgroup label="AFC EAST">
                          <option>Buffalo Bills</option>
                          <option>Miami Dolphins</option>
                          <option>New England Patriots</option>
                          <option>New York Jets</option>
                      </optgroup>
                      <optgroup label="AFC NORTH">
                          <option>Baltimore Ravens</option>
                          <option>Cincinnati Bengals</option>
                          <option>Cleveland Browns</option>
                          <option>Pittsburgh Steelers</option>
                      </optgroup>
                      <optgroup label="AFC SOUTH">
                          <option>Houston Texans</option>
                          <option>Indianapolis Colts</option>
                          <option>Jacksonville Jaguars</option>
                          <option>Tennessee Titans</option>
                      </optgroup>
                      <optgroup label="AFC WEST">
                          <option>Denver Broncos</option>
                          <option>Kansas City Chiefs</option>
                          <option>Oakland Raiders</option>
                          <option>San Diego Chargers</option>
                      </optgroup>
                  </select>

              </div> {% endcomment %}
          </div>

      </div>



  </div>


</div><!-- .animated -->
</div><!-- .content -->
{% endblock content %}